@each $key, $val in $my-palette {

  .container-#{$key} {
    background-color: $val;

    &:hover {
      background-color: darken($val, 10%);
    }

    &:active {
      background-color: darken($val, 10%);
    }

    &:focus {
      background-color: darken($val, 10%);
    }


  }

  .text-#{$key} {
    color: $val;
  }
  .text-#{$key}-bold {
    color: $val;
    font-weight: bold;
  }
  .text-hover-#{$key} {
    &:hover {
      color: $val;
    }
  }
}

@media (prefers-color-scheme: dark) {
  // body{
    // background-color: #1c1c1c;
    // color: #e6e7e8;
  // }

}

