.buy-button {
  font-size: x-large;
  background-color: $text-primary;
  border-radius: 1rem;
  width: 70%;
  text-align: center;
  margin-bottom: 1rem;
  padding: 14px;
  color: $white;
}

.buy-button:disabled,
.buy-botton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}