$hero-height: 80vh;


.search-section {
  display: flex;
  flex-direction: row;
  height: 2rem;
  background-color: $text-primary;
}

.search-header {
  color: white;
  text-align: center;
}

.input-field {
  border: none;
  // style input placeholder
  &::placeholder {
    text-align: center;
    color: gray;
  }

  // add border on focus
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}


.hero-section {
  align-self: center;
  align-items: center;
}