$topbar-responsive-animation-type: fade-in; // or use slide-down or none

.topbar-responsive {
  padding: 0 .5rem;
  background-color: white;
  box-shadow: -3px -7px 12px 2px;
  margin-bottom: 1rem;

  .topbar-responsive-logo {
    display: flex;
    color: $primary;
    vertical-align: middle;
  }

  .topbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
    gap: 1.5rem;
  }

  .menu {
    background: white;

    li:last-of-type {
      margin-right: 0;
    }

    a {
      color: white;
      transition: color 0.15s ease-in;

      &:hover {
        color: lighten($primary, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        padding: 0.875rem 0;
      }
    }
  }

  // reduce box-shadow on small screens
  @media screen and (max-width: 39.9375em) {
    box-shadow: -3px -7px 12px 2px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include breakpoint(small only) {
  .topbar-responsive-links {
    animation-fill-mode: both;
    animation-duration: 0.5s;
    width: 100%;

    @if $topbar-responsive-animation-type == slide-down {
      animation: slideDown 1s ease-in;
    } @else if $topbar-responsive-animation-type == fade-in {
      animation: fadeIn 1s ease-in;
    } @else {
      animation: none;
    }
  }
}

.nav-button-container {
  margin-left: 2rem;

  .button {
    width: 100px;
    border-radius: 0.5rem;
  }

  // reduce margin left for small screens
  @include breakpoint(small only) {
    margin-left: 0;
  }
}


.dashboard-container {
  @include dropdown-container;
  margin: 0;
  padding: 0;
  border: none;

  .hero {
    background-image: url("../assets/images/pannel_pic.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    padding: 10px;
    border-radius: 1rem 1rem 0 0;
    color: white;
  }
}

